{% extends 'designstore/main.html' %}
{% load static %}
{% block content %}
  <h3>Add Item</h3>
  <form method="POST" action="add">
    {% csrf_token %}
    <div>
      <p>
        <label for="id_name">Name: </label>
        <input type="text" id="id_name" name="item_name" />

      </p>
    </div>
    <div>
      <p>
        <label for="id_done">Name: </label>
        <input type="checkbox" id="id_done" name="done" />
      </p>
    </div>
    <div>
      <p>
        <button type="submit">Add Item</button>
      </p>
    </div>
  </form>
{% endblock content %}
