{% extends 'designstore/main.html' %}
{% load static %}
{% block content %}
  <h3>Item View </h3>
  <h4>Product</h4>
  <div>
    <img class="product_img" src="{% static 'images/placeholder.png' %}">
    <p id="testimonial_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut porttitor nulla. Donec imperdiet elit arcu, non aliquet ipsum congue at.
    Nulla accumsan finibus odio nec aliquam. Vestibulum id magna nec quam malesuada elementum a vitae lorem.Suspendisse aliquet tincidunt sem,
    at tempor odio suscipit vel. Nulla eget feugiat risus, at pharetra neque. Nunc mattis pulvinar nisl, in lobortis nisl.
    </p>
  </div>
{% endblock content %}